.AdminDashboard {}

.AdminDashboard .tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.AdminDashboard .tabs .active {
  background-color: white;
  color: black;
}